{
	"plugins": [
		"transform-decorators-legacy",
	],
	"presets": ["env", "react", "es2017","es2015", "stage-0"],
	"env": {
		"production": {
			//"presets":["react-optimize"]
		},
		"development": {
			"plugins": [
				"transform-decorators-legacy",
				"react-hot-loader/babel"
			]
		}
	}
}